@import "tailwindcss";
@tailwind utilities; 

html,body{
  color:#fff;
  background: #1194A8;
}

main{
  background: #1194A8;
  height: 100vh;
  height: 100dvh;
}
  
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  background-color: #f5741c;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}